# RetroArch 1.22.2 values serialized from Bubble's pre-V90S 58-key
# factory configuration. The migration helper changes a setting only when
# the active value still exactly matches this legacy default.
all_users_control_menu = "false"
assets_directory = "/storage/plumos/config/retroarch/assets"
audio_rate_control_delta = "0.004999"
audio_resampler = "sinc"
auto_screenshot_filename = "true"
cache_directory = ""
content_favorites_directory = "default"
content_history_directory = "default"
content_image_history_directory = "default"
content_music_history_directory = "default"
content_video_directory = "default"
content_video_history_path = "/storage/plumos/config/retroarch/playlists/builtin/content_video_history.lpl"
core_options_path = ""
dynamic_wallpapers_directory = "default"
frontend_log_level = "0"
input_audio_mute = "f9"
input_cheat_index_minus = "t"
input_cheat_index_plus = "y"
input_cheat_toggle = "u"
input_exit_emulator = "escape"
input_fps_toggle = "f3"
input_fps_toggle_btn = "nul"
input_frame_advance = "k"
input_game_focus_toggle = "scroll_lock"
input_grab_mouse_toggle = "f11"
input_hold_fast_forward = "l"
input_hold_fast_forward_btn = "6"
input_hold_slowmotion = "e"
input_load_state = "f4"
input_menu_toggle = "f1"
input_netplay_game_watch = "i"
input_netplay_player_chat = "tilde"
input_osk_overlay_opacity = "0.699999"
input_overlay_opacity = "0.699999"
input_pause_toggle = "p"
input_player1_a_btn = "nul"
input_player1_b_btn = "nul"
input_player1_down_btn = "nul"
input_player1_l2_btn = "nul"
input_player1_l3_btn = "nul"
input_player1_l_btn = "nul"
input_player1_l_x_minus_axis = "nul"
input_player1_l_x_plus_axis = "nul"
input_player1_l_y_minus_axis = "nul"
input_player1_l_y_plus_axis = "nul"
input_player1_left_btn = "nul"
input_player1_r2_btn = "nul"
input_player1_r3_btn = "nul"
input_player1_r_btn = "nul"
input_player1_r_x_minus_axis = "nul"
input_player1_r_x_plus_axis = "nul"
input_player1_r_y_minus_axis = "nul"
input_player1_r_y_plus_axis = "nul"
input_player1_right_btn = "nul"
input_player1_select_btn = "nul"
input_player1_start_btn = "nul"
input_player1_up_btn = "nul"
input_player1_x_btn = "nul"
input_player1_y_btn = "nul"
input_poll_type_behavior = "2"
input_remapping_directory = "/storage/plumos/config/retroarch/config/remaps"
input_reset = "h"
input_rewind = "r"
input_rewind_btn = "7"
input_save_state = "f2"
input_screenshot = "f8"
input_screenshot_btn = "nul"
input_shader_next = "m"
input_shader_prev = "n"
input_shader_toggle = "comma"
input_state_slot_decrease = "f6"
input_state_slot_increase = "f7"
input_toggle_fast_forward = "space"
input_toggle_fast_forward_btn = "nul"
input_toggle_fullscreen = "f"
input_toggle_slowmotion_btn = "nul"
input_volume_down = "subtract"
input_volume_up = "add"
libretro_log_level = "1"
log_dir = "/storage/plumos/logs"
log_to_file_timestamp = "true"
menu_framebuffer_opacity = "0.899999"
menu_show_core_updater = "true"
menu_show_load_content_animation = "true"
menu_show_restart_retroarch = "false"
menu_wallpaper_opacity = "0.899999"
notification_show_autoconfig = "true"
notification_show_autoconfig_fails = "true"
notification_show_cheats_applied = "true"
notification_show_config_override_load = "true"
notification_show_disk_control = "true"
notification_show_patch_applied = "true"
notification_show_refresh_rate = "true"
notification_show_remap_load = "true"
notification_show_set_initial_disk = "true"
recording_output_directory = "/storage/plumos/config/retroarch/records"
rgui_browser_directory = "default"
rgui_internal_upscale_level = "0"
rgui_menu_color_theme = "4"
runtime_log_directory = "default"
savefiles_in_content_dir = "false"
savestate_auto_index = "false"
savestate_auto_save = "false"
savestate_file_compression = "true"
savestate_max_keep = "0"
savestate_thumbnail_enable = "false"
savestates_in_content_dir = "false"
screenshot_directory = "/storage/plumos/config/retroarch/screenshots"
slowmotion_ratio = "3.000000"
sort_savefiles_by_content_enable = "false"
sort_savefiles_enable = "false"
sort_savestates_by_content_enable = "false"
sort_savestates_enable = "false"
sort_screenshots_by_content_enable = "false"
state_slot = "0"
thumbnails_directory = "/storage/plumos/config/retroarch/thumbnails"
use_last_start_directory = "false"
video_aspect_ratio = "1.333299"
video_aspect_ratio_auto = "true"
video_font_path = ""
video_font_size = "32.000000"
video_max_swapchain_images = "2"
video_shader_dir = "/storage/plumos/config/retroarch/shaders"
